body {
    background-image: url(../images/4005463.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    place-items: center;
    display: grid;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.canvas {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    padding: 10px;
    border: 3px solid #000000;
    backdrop-filter: blur(2px);
}

.tocke {
    position: absolute;
    top: 0px;
    left: 100%;
    width: 90px;
    height: 420px;
    border: 3px solid #000000;
    text-align: center;
    transform: translate(0, -0.7%);
}

.diamond {
    height: 40px;
    padding-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sandglass {
    height: 40px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lives {
    height: 40px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.refreshimg {
    height: 50px;
    width: auto;
    bottom: 0px;
    position: absolute;
    cursor: pointer;
    transform: translate(-50%, -30%);
}

button:hover {
    background-color: white;
    color: black;
}

#button1 {
    left: 2em;
    position: absolute;
    top: 2em;
    cursor: pointer;
}

.toggle-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.toggle-button {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 35px;
    margin: 0;
    vertical-align: top;
    background: #ffffff;
    border: 1px solid #85c6b7;
    border-radius: 30px;
    cursor: pointer;
    transition: 1s;
}

.toggle-button::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 3px;
    top: 1.5px;
    width: 30px;
    height: 30px;
    background-color: #85c6b7;
    border-radius: 50%;
    transition: all 1s cubic-bezier(0.2, 0.85, 0.32, 1.2);
    transform: translateX(0);
}

.toggle-button:checked::after {
    transform: translateX(calc(100% + 3px));
    background-color: #fff;
}

.toggle-button:checked {
    background-color: #85c6b7;
}

mark {
    background: transparent;
    color: white;
}